<div class="dialog-form">
  <!-- Premier type de test -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.CHECK.TYPE_PRIMARY"}}</label>
    <select id="checkTypePrimary" name="checkTypePrimary">
      <optgroup label="{{localize "DND.DIALOG.CHECK.ABILITIES"}}">
        {{#each abilities}}
        <option value="{{@key}}">{{this.label}}</option>
        {{/each}}
      </optgroup>
      <optgroup label="{{localize "DND.DIALOG.CHECK.SKILLS"}}">
        {{#each skills}}
        <option value="{{@key}}">{{this.label}}</option>
        {{/each}}
      </optgroup>
    </select>
  </div>

  <!-- DC commun -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.CHECK.DC"}}</label>
    <input type="number" id="dc" name="dc" value="15">
  </div>

  <!-- Sélecteur de combinaison -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.CHECK.COMBINATION"}}</label>
    <select name="combination" id="combination-selector">
      <option value="none">{{localize "DND.DIALOG.CHECK.COMBINATION_NONE"}}</option>
      <option value="or">{{localize "DND.DIALOG.CHECK.COMBINATION_OR"}}</option>
    </select>
  </div>

  <!-- Second type de test -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.CHECK.TYPE_SECONDARY"}}</label>
    <select id="checkTypeSecondary" name="checkTypeSecondary">
      <optgroup label="{{localize "DND.DIALOG.CHECK.ABILITIES"}}">
        {{#each abilities}}
        <option value="{{@key}}">{{this.label}}</option>
        {{/each}}
      </optgroup>
      <optgroup label="{{localize "DND.DIALOG.CHECK.SKILLS"}}">
        {{#each skills}}
        <option value="{{@key}}">{{this.label}}</option>
        {{/each}}
      </optgroup>
    </select>
  </div>

  <!-- Format -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.FORMAT"}}</label>
    <select id="format" name="format">
      <option value="short">{{localize "DND.SETTINGS.FORMAT.SHORT"}}</option>
      <option value="long">{{localize "DND.SETTINGS.FORMAT.LONG"}}</option>
    </select>
  </div>
</div>