<div class="dialog-form">
  <!-- Première caractéristique -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.SAVE.ABILITY_PRIMARY"}}</label>
    <select id="abilityPrimary" name="abilityPrimary">
      {{#each abilities}}
        <option value="{{@key}}">{{this.label}}</option>
      {{/each}}
    </select>
  </div>

  <!-- Sélecteur de combinaison -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.SAVE.COMBINATION"}}</label>
    <select name="combination" id="combination-selector">
      <option value="none">{{localize "DND.DIALOG.SAVE.COMBINATION_NONE"}}</option>
      <option value="or">{{localize "DND.DIALOG.SAVE.COMBINATION_OR"}}</option>
    </select>
  </div>
  
  <!-- Seconde caractéristique -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.SAVE.ABILITY_SECONDARY"}}</label>
    <select id="abilitySecondary" name="abilitySecondary">
      {{#each abilities}}
        <option value="{{@key}}">{{this.label}}</option>
      {{/each}}
    </select>
  </div>
  
  <!-- DC commun -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.SAVE.DC"}}</label>
    <input type="number" id="dc" name="dc" value="15">
  </div>
  
  <!-- Format -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.FORMAT"}}</label>
    <select id="format" name="format">
      <option value="short">{{localize "DND.SETTINGS.FORMAT.SHORT"}}</option>
      <option value="long">{{localize "DND.SETTINGS.FORMAT.LONG"}}</option>
    </select>
  </div>
</div>